<div class="row large-10 columns t10">

<ul>

<li><p>
Baro B, Rodo P, Ouchi D, Bordoy AE, Saya Amaro EN, Salsench SV, et&nbsp;al.
 Performance characteristics of five antigen-detecting rapid
  diagnostic test (Ag-RDT) for SARS-CoV-2 asymptomatic infection: a
  head-to-head benchmark comparison.
 Journal of Infection. 2021.
[&nbsp;<a target="_blank" href="https://doi.org/10.1016/j.jinf.2021.04.009">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0163445321001912/pdfft?md5=5ec7ed46a317628cbcafe72b57d1e573&amp;pid=1-s2.0-S0163445321001912-main.pdf">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Background
Mass testing for early identification and isolation of infectious COVID-19 individuals is efficacious for reducing disease spread. Antigen-detecting rapid diagnostic tests (Ag-RDT) may be suitable for testing strategies; however, benchmark comparisons are scarce.
Methods
We used 286 nasopharyngeal specimens from unexposed asymptomatic individuals collected between December 2020 and January 2021 to assess five Ag-RDTs marketed by Abbott, Siemens, Roche Diagnostics, Lepu Medical, and Surescreen.
Results
For the overall sample, the performance parameters of Ag-RDTs were as follows: Abbott assay, sensitivity 38.6Conclusions
When screening unexposed asymptomatic individuals, two Ag-RDTs achieved sensitivity ≥80% for specimens with Ct&lt;30 and specificity ≥96%. The estimated negative predictive value suggests the suitability of Ag-RDTs for mass screenings of SARS-CoV-2 infection in the general population.
</p></font></blockquote>

</p></li>


<li><p>
Alemany A, Bar&oacute; B, Ouchi D, Rod&oacute; P, Ubals M, Corbacho-Monn&eacute; M,
  et&nbsp;al.
 <b>Analytical and clinical performance of the panbio COVID-19
  antigen-detecting rapid diagnostic test</b>.
 Journal of Infection. 2021.
 In press.
[&nbsp;<a target="_blank" href="http://dx.doi.org/10.1016/j.jinf.2020.12.033">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.journalofinfection.com/action/showPdf?pii=S0163-4453%2821%2900004-9">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Recent articles in this Journal have suggested the potential of antigen-based rapid diagnostic tests (Ag-RDT) as low-cost and ease-of-use tools for massive screening and epidemiological surveillance of SARS-CoV-2 spread.1,2 Based on a pre-screening of four Ag-RDT on 40 frozen specimens from nasopharyngeal swabs with known PCR results (Table S1, Appendix), we selected the Panbio COVID-19 Ag Test (Abbott) for investigating its analytical and clinical performance.
</p></font></blockquote>

</p></li>
</ul></div>
