<div class="row large-10 columns t10">

<ul>

<li><p>
Alemany, A., B.&nbsp;Bar&oacute;, D.&nbsp;Ouchi, P.&nbsp;Rod&oacute;, M.&nbsp;Ubals,
  M.&nbsp;Corbacho-Monn&eacute;, J.&nbsp;Vergara-Alert, J.&nbsp;Rodon, J.&nbsp;Segal&eacute;s,
  C.&nbsp;Esteban, G.&nbsp;Fern&aacute;ndez, L.&nbsp;Ruiz, Q.&nbsp;Bassat, B.&nbsp;Clotet, J.&nbsp;Ara,
  M.&nbsp;Vall-Mayans, C.&nbsp;G-Beiras, I.&nbsp;Blanco, and O.&nbsp;Mitj&agrave; (2021).
 <b>Analytical and clinical performance of the panbio COVID-19
  antigen-detecting rapid diagnostic test</b>.
 <em>Journal of Infection</em>.
 In press.
[&nbsp;<a target="_blank" href="http://dx.doi.org/10.1016/j.jinf.2020.12.033">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.journalofinfection.com/action/showPdf?pii=S0163-4453%2821%2900004-9">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Recent articles in this Journal have suggested the potential of antigen-based rapid diagnostic tests (Ag-RDT) as low-cost and ease-of-use tools for massive screening and epidemiological surveillance of SARS-CoV-2 spread.1,2 Based on a pre-screening of four Ag-RDT on 40 frozen specimens from nasopharyngeal swabs with known PCR results (Table S1, Appendix), we selected the Panbio COVID-19 Ag Test (Abbott) for investigating its analytical and clinical performance.
</p></font></blockquote>

</p></li>
</ul></div>
