<div class="row large-10 columns t10">

<ul>

<li><p>
Alemany A, Bar&oacute; B, Ouchi D, Rod&oacute; P, Ubals M, Corbacho-Monn&eacute; M,
  et&nbsp;al.
 <b>Analytical and clinical performance of the panbio COVID-19
  antigen-detecting rapid diagnostic test</b>.
 Journal of Infection. 2021.
 In press.
[&nbsp;<a target="_blank" href="http://dx.doi.org/10.1016/j.jinf.2020.12.033">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.journalofinfection.com/action/showPdf?pii=S0163-4453%2821%2900004-9">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Recent articles in this Journal have suggested the potential of antigen-based rapid diagnostic tests (Ag-RDT) as low-cost and ease-of-use tools for massive screening and epidemiological surveillance of SARS-CoV-2 spread.1,2 Based on a pre-screening of four Ag-RDT on 40 frozen specimens from nasopharyngeal swabs with known PCR results (Table S1, Appendix), we selected the Panbio COVID-19 Ag Test (Abbott) for investigating its analytical and clinical performance.
</p></font></blockquote>

</p></li>
</ul></div>
