<div class="row large-10 columns t10">

<ul>

<li><p>
Suñer C, Ouchi D, Mas M&Agrave;, Alarcon RL, Mesquida7 MM, Negredo E, et&nbsp;al.
 <b>Risk factors for mortality of residents in nursing homes with
  Covid2 19: a retrospective cohort study</b>. 2021.
 Submitted.
[&nbsp;<a target="_blank" href="https://curetrep.org/images//sarscov2/risk_residents.pdf">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Nursing homes have shown remarkably high Covid-19 incidence and mortality. We aimed to explore the contribution of structural factors of nursing home facilities and the surrounding district to all-cause and Covid-19-related deaths during a SARS-CoV-2 outbreak.
</p></font></blockquote>

</p></li>
</ul></div>
