<div class="row large-10 columns t10">

<ul>

<li><p>
Suñer, C., D.&nbsp;Ouchi, M.&nbsp;&Agrave;. Mas, R.&nbsp;L. Alarcon, M.&nbsp;M. Mesquida7,
  E.&nbsp;Negredo, N.&nbsp;Prat, J.&nbsp;M. Bonet-Sim&oacute;, M.&nbsp;E. Izquierdo, I.&nbsp;G.
  S&aacute;nchez, S.&nbsp;R. Noguerola, R.&nbsp;Miralles, M.&nbsp;T. Colet, J.&nbsp;V. Puigvendrelló,
  N.&nbsp;Henr&iacute;quez, M.&nbsp;Marks, J.&nbsp;Ara, and O.&nbsp;Mitj&agrave; (2021).
 <b>Risk factors for mortality of residents in nursing homes with
  Covid2 19: a retrospective cohort study</b>.
 submitted.
[&nbsp;<a target="_blank" href="https://curetrep.org/images//sarscov2/risk_residents.pdf">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Nursing homes have shown remarkably high Covid-19 incidence and mortality. We aimed to explore the contribution of structural factors of nursing home facilities and the surrounding district to all-cause and Covid-19-related deaths during a SARS-CoV-2 outbreak.
</p></font></blockquote>

</p></li>
</ul></div>
