<div class="row large-10 columns t10">

<ul>

<li><p>
Marks, M., P.&nbsp;Millat-Martinez, D.&nbsp;Ouchi, C.&nbsp;h. Roberts, A.&nbsp;Alemany,
  M.&nbsp;Corbacho-Monn&eacute;, M.&nbsp;Ubals, A.&nbsp;Tobias, C.&nbsp;Teb&eacute;, E.&nbsp;Ballana,
  Q.&nbsp;Bassat, B.&nbsp;Baro, M.&nbsp;Vall-Mayans, C.&nbsp;G-Beiras, N.&nbsp;Prat, J.&nbsp;Ara, B.&nbsp;Clotet,
  and O.&nbsp;Mitj&agrave; (2021).
 <b>Transmission of COVID-19 in 282 clusters in Catalonia, Spain:
  a cohort study</b>.
 <em>The Lancet Infectious Diseases</em>.
 In press.
[&nbsp;<a target="_blank" href="http://dx.doi.org/10.1016/S1473-3099(20)30985-3">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.thelancet.com/action/showPdf?pii=S1473-3099%2820%2930985-3">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Scarce data are available on what variables affect the risk of transmission of severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2), the development of symptomatic COVID-19, and, particularly, the relationship with viral load. We aimed to analyse data from linked index cases of COVID-19 and their contacts to explore factors associated with transmission of SARS-CoV-2.
</p></font></blockquote>

</p></li>
</ul></div>
