<div class="row large-10 columns t10">

<ul>

<li><p>
Haynes AM, Giacani L, Mayans MV, Ubals M, Nieto C, P&eacute;rez-Ma&ntilde;&aacute; C,
  et&nbsp;al.
 <b>Efficacy of linezolid on <i>Treponema pallidum,</i> the
  syphilis agent: A preclinical study</b>.
 EBioMedicine. 2021 Mar;65.
[&nbsp;<a target="_blank" href="http://dx.doi.org/10.1016/j.ebiom.2021.103281">DOI</a>&nbsp;| 
<a target="_blank" href="https://www.thelancet.com/action/showPdf?pii=S2352-3964%2821%2900074-8">ePrint</a>&nbsp;]
<blockquote><font size="-1"><p>
Penicillin G, the current standard treatment for syphilis, has important drawbacks, but virtually no preclinical or clinical studies have been performed to identify viable alternatives. We tested, both <i>in vitro</i> and <i>in vivo</i>, three marketed antibiotics with adequate pharmacological properties to treat syphilis.
</p></font></blockquote>

</p></li>
</ul></div>
