<h1>_therapeutics.bib</h1><a name="NEJMoa2021801"></a><pre>
@article{<a href="_therapeutics.html#NEJMoa2021801">NEJMoa2021801</a>,
  author = {Mitjà, Oriol and Corbacho-Monné, Marc and Ubals, Maria and Alemany, Andrea and Suñer, Clara and Tebé, Cristian and Tobias, Aurelio and Peñafiel, Judith and Ballana, Ester and Pérez, Carla A. and Admella, Pol and Riera-Martí, Núria and Laporte, Pep and Mitjà, Jordi and Clua, Mireia and Bertran, Laia and Sarquella, Maria and Gavilán, Sergi and Ara, Jordi and Argimon, Josep M. and Cuatrecasas, Gabriel and Cañadas, Paz and Elizalde-Torrent, Aleix and Fabregat, Robert and Farré, Magí and Forcada, Anna and Flores-Mateo, Gemma and López, Cristina and Muntada, Esteve and Nadal, Núria and Narejos, Silvia and Nieto, Aroa and Prat, Nuria and Puig, Jordi and Quiñones, Carles and Ramírez-Viaplana, Ferran and Reyes-Urueña, Juliana and Riveira-Muñoz, Eva and Ruiz, Lidia and Sanz, Sergi and Sentís, Alexis and Sierra, Alba and Velasco, César and Vivanco-Hidalgo, Rosa M. and Zamora, Juani and Casabona, Jordi and Vall-Mayans, Martí and González-Beiras, Camila and Clotet, Bonaventura},
  title = {A Cluster-Randomized Trial of Hydroxychloroquine for Prevention of Covid-19},
  abstract = {BACKGROUND
Current strategies for preventing severe acute respiratory syndrome coronavirus 2
(SARS-CoV-2) infection are limited to nonpharmacologic interventions. Hydroxychloroquine has been proposed as a postexposure therapy to prevent coronavirus
disease 2019 (Covid-19), but definitive evidence is lacking.
METHODS
We conducted an open-label, cluster-randomized trial involving asymptomatic
contacts of patients with polymerase-chain-reaction (PCR)–confirmed Covid-19 in
Catalonia, Spain. We randomly assigned clusters of contacts to the hydroxychloroquine group (which received the drug at a dose of 800 mg once, followed by 400 mg
daily for 6 days) or to the usual-care group (which received no specific therapy).
The primary outcome was PCR-confirmed, symptomatic Covid-19 within 14 days.
The secondary outcome was SARS-CoV-2 infection, defined by symptoms compatible
with Covid-19 or a positive PCR test regardless of symptoms. Adverse events were
assessed for up to 28 days.
RESULTS
The analysis included 2314 healthy contacts of 672 index case patients with Covid-19
who were identified between March 17 and April 28, 2020. A total of 1116 contacts
were randomly assigned to receive hydroxychloroquine and 1198 to receive usual
care. Results were similar in the hydroxychloroquine and usual-care groups with
respect to the incidence of PCR-confirmed, symptomatic Covid-19 (5.7% and 6.2%,
respectively; risk ratio, 0.86 [95% confidence interval, 0.52 to 1.42]). In addition,
hydroxychloroquine was not associated with a lower incidence of SARS-CoV-2
transmission than usual care (18.7% and 17.8%, respectively). The incidence of adverse
events was higher in the hydroxychloroquine group than in the usual-care group
(56.1% vs. 5.9%), but no treatment-related serious adverse events were reported.
CONCLUSIONS
Postexposure therapy with hydroxychloroquine did not prevent SARS-CoV-2 infection or symptomatic Covid-19 in healthy persons exposed to a PCR-positive
case patient. (Funded by the crowdfunding campaign YoMeCorono and others;
BCN-PEP-CoV2 ClinicalTrials.gov number, NCT04304053.)},
  journal = {New England Journal of Medicine},
  volume = {384},
  number = {5},
  pages = {417-427},
  year = {2021},
  doi = {10.1056/NEJMoa2021801},
  pdf = {https://www.nejm.org/doi/pdf/10.1056/NEJMoa2021801?articleTools=true}
}
</pre>

